<div ng-controller="ThankYouCtrl">
  <div class="ty-sc" style="position:relative;overflow:hidden;">
    <!--{{> header translation = headerTranslation}}-->
    <section class="ty-banner" style='width: 1920px; height: 1080px; background-image: url("<%= asset_path('thank-you/success.jpg') %>");'>
      <!--<div class="ty-banner-content">-->
        <!--<h1 class="ty-title">-->
          <!--{{{translation.title}}}-->
        <!--</h1>-->
        <!--<p class="ty-desc">-->
          <!--{{{translation.text}}}-->
        <!--</p>-->
      <!--</div>-->
    </section>
    <!--{{> footer translation = footerTranslation}}-->
  </div>
</div>
