<!DOCTYPE html>
<html>
<head>
  <title>FlapperNews</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <style> .glyphicon-thumbs-up, .glyphicon-thumbs-down { cursor:pointer }</style>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="flapperNews"> <!-- When render inline template, we don't need explicit declare controller here: ng-controller="MainCtrl"> -->
  <div>
    {{test}}
  </div>
  <br>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div ng-include="'nav/_nav.html'"></div>
      <ui-view></ui-view>

    </div>
  </div>

</body>
</html>
