<!DOCTYPE html>
<html>
<head>
  <title>FlapperNews</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <style> .glyphicon-thumbs-up, .glyphicon-thumbs-down { cursor:pointer }</style>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="flapperNews"> <!-- When render inline template, we don't need explicit declare controller here: ng-controller="MainCtrl"> -->
  <div>
    {{test}}
  </div>
  <br>

  <!--<div class="row">-->
    <!--<div class="col-md-6 col-md-offset-3">-->
      <div ng-include="'nav/_nav.html'"></div>
      <ui-view></ui-view>

    <!--</div>-->
  <!--</div>-->
  <br>
<!--<div class="typeform-widget" data-url="https://eduard-dovgal.typeform.com/to/eOxNmV" style="margin: 50px auto; width: 500px; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=eOxNmV&utm_source=typeform.com-12429573-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>-->

  <br>

<div class="typeform-widget" data-url="https://eduard-dovgal.typeform.com/to/H2Y0iL" style="margin: 50px auto; width: 500px; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=H2Y0iL&utm_source=typeform.com-12429573-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

</body>
</html>
